<% include partials/header.ejs%>
<h1>This is landing</h1>

<h3>Welcome to CampGrounds</h3>

<a href="/campgrounds">Go to campgrounds</a>
<a href="/campgrounds/new">Make new campground</a>

<% include partials/footer.ejs%>
