<% include partials/header.ejs %>

<div class="container">
    <div class="row ">
        <h1 style="text-align: center">Add new Campground here:</h1>
        <div style="margin: 50px auto; width: 40%">
        <form method="post" action="/campgrounds">
            <div class="form-group">
                <input class="form-control" name="name" type="text" placeholder="name">
            </div>
            <div class="form-group">
                <input class="form-control" name="img" type="url" placeholder="img">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
            </div>


        </form>
            <a href="/campgrounds">Go back</a>

        </div>
    </div>
</div>


<% include partials/footer.ejs %>