.thumbnail{
    width: 100%;
}

.thumbnail{
    padding: 0px;
}

.thumbnail .caption{
    padding: 10px;
}

#deleteform{
    display: inline;
}

.edbtn{
    padding: 5px 10px;
    margin-right:20px;
}

.comment-form{
    margin-bottom: 50px;
}

.delete-form{
    display: inline;
    margin-left: 20px;
}

.login_button{
    margin: 0px auto;
}

.button-link {
    outline: none;
    padding: 5px;
    border: 0px;
    color: #23527c;
    background-color: transparent;
}

.button-link:focus,
.button-link:hover {
    color: #23227c;
}

.para-inline{
    display: inline;
}

.ed-comm{
    margin-top: 10px;
}

.ed-comm:hover,.ed-camp:hover{
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #000000;
}

.ed-camp,.ed-comm{
    background-color: #eeeeee;
    color: #000000;
    border: solid 1px #000000;
}