.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0px;
}

.thumbnail .caption{
    padding: 10px;
}

#deleteform{
    display: inline;
}

.edbtn{
    padding: 5px 10px;
    margin-right:20px;
}

